// Denver Post: Headlines
//
// .h1 - h1 headlines, aricle headline
// .h2 - h2 headlines, large features on archive pages
// .h3 - h3 headlines, widget titles
// .h4 - h4 headlines, medium features on archive pages
// .h5 - h5 headlines, small features on archive pages
// .h6 - h6 headlines, list-style headlines
// .section-highlight - headline for a section highlight on archive pages
// .blue-block - used in most popular, polls
// .top-border - used in related articles, breadcrumbs
// .tag-name - name of tag at top of tag landing
// .sponsored-flag - sponsored label on native articles
// .breaking-headline - breaking news headline
//
// markup:
// <h2  class="headline {$modifiers}">Lorem Ipsum Dolor Sit Amet</h2>
//
// Styleguide utilties.headlines

%section-title {
	@include font(47, 30, $meta, 700);
	color: $secondary;
	margin-bottom: em-calc(24, false, 47);
	text-align: left;
}