// Denver Post: Full Footer
//
// Styles for site footer as a whole
//
// markup:
// <footer class="site-footer">
//	<div data-huron-id="footer-header" data-huron-type="template"></div>
// 	<ul class="footer-menus">
//		<div data-huron-id="footer-menu" data-huron-type="template"></div>
// 	</ul>
// 	<div data-huron-id="footer-colophon" data-huron-type="template"></div>
// </footer>
//
// Styleguide footer.full

.site-footer {
	background-color: $gray-max;
	border-top: 5px solid $gray-min;
	padding: em-calc(32);

	@include ai-breakpoint(false, s) {
		padding: em-calc(16);
	}
}
