// Denver Post: Author Article
//
// Articles appearing on author landing pages
//
// markup:
// <article class="archive-view author-view">
// 	<figure>
// 		<a href="#"><img src="http://lorempixel.com/140/88/cats" alt="article-image"></a>
// 	</figure>
// 	<header>
// 		<h5><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h5>
// 		<time datetime="2015-08-10 18:00">8/10/15 6:00 PM ET</time>
// 	</header>
// </article>
//
// Styleguide article-archive.author-landing

.author-view {

	.author-stories-feed & {
		@include shadow-border;

		time {
			color: $gray-400;
			margin-top: em-calc(3);
			text-transform: none;
		}
	}
}