// Denver Post: Tag/Search Article
//
// Articles appearing on tag landing or search pages
//
// markup:
// <article class="archive-view tag-search-view">
// 	<figure>
// 		<a href="#"><img src="http://lorempixel.com/140/80/cats" alt="article-image"></a>
// 	</figure>
// 	<header>
// 		<a class="section-name">Sports</a>
// 		<h4><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h4>
//		<div class="byline">By <a href="#">Bob Shaw</a></div>
// 		<time datetime="2015-08-10 18:00">8/10/2015 12:01:00 AM CDT</time>
// 	</header>
// </article>
//
// Styleguide article-archive.tag-search

.tag-search-view {
	@include shadow-border();

	&:last-of-type {
		box-shadow: none;
	}

	h4 {
		font-weight: 700;
	}

	.byline {
		text-transform: none;

		a {
			font-weight: 700;
		}
	}

	.feature-section & {
		width: 100%;
	}

	.landing-three-one & {
		border-top: 5px solid $gray-min;
		padding-top: spacing(2);
	}
}