// Mercury News: Article Breadcrumbs
//
// Article breadcrumb styles
//
// markup:
// <div class="breadcrumbs">
// 	<h6><a href="#">Sports</a></h6>
//	<span class="icon-arrow-right"></span>
//	<h6><a href="#">San Jose Sharks</a></h6>
// </div>
//
// Styleguide article.breadcrumbs

.breadcrumbs {
	width: 100%;

	h6 {
		font-weight: 400;

		&:last-child {
			font-weight: 700;
		}

		a {
			color: $primary;
			text-transform: none;

			&:hover {
				color: $gray-min;
			}
		}
	}

	.icon-arrow-right {
		color: $gray-min;
	}
}