// Mercury News: Featured Image
//
// Article featured image styles
//
// markup:
// <figure>
// 	<img src="http://lorempixel.com/940/528/cats" alt="article featured image">
// 	<figcaption>
//		<div class="photo-credit">Lorem Ipsum photo credit</div>
// 		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer diam tortor, aliquet ut porta non, aliquet sed nunc. Maecenas eu semper augue. Aliquam erat volutpat. Cras varius ex sed metus finibus convallis. Maecenas bibendum velit a nisl eleifend porttitor
// 	</figcaption>
// </figure>
//
// sg-wrapper:
// <article class="{$modifiers}">
//	<div class="header-features">
// 	 <sg-wrapper-content/>
//	</div>
// </article>
//
// Styleguide article.feature-image

.full-view {

	figcaption {
		font-family: $meta;
		padding: em-calc(0 0 10);
		position: relative;
		width: 100%;
		z-index: 1;
	}

	figure,
	.wp-caption {

		img {
			margin-bottom: em-calc(5);
		}
	}
}

.header-features {

	figcaption,
	.caption {
		background-color: $brown-100;
		color: $gray-max;
		padding: em-calc(5 10 10, false, 14);
	}

	.photo-credit {
		color: $gray-400;
	}
}
