// Mercury News: Article Pullquote
//
// Inline pullquote
//
// markup:
// <blockquote>
// 	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer diam tortor, aliquet ut porta non, aliquet sed nunc.
// 	<cite>- Quote Source</cite>
// </blockquote>
//
// Styleguide article.pullquote

blockquote {
	@include font(37, 44, $body, 600);
	font-size: em-calc(37, false, 20);
	padding: em-calc(20 0, false, 37);

	cite {
		display: block;
		font-size: em-calc(18, false, 37);
		font-style: italic;
		font-weight: 400;
		padding-top: em-calc(16);
		width: 100%;
	}
}