// Mercury News: Recirculation Widgets
//
// Content recirculation widgets provided by Outbrain, etc.
//
// markup:
// <div class="recirc">
// 	<div class="OUTBRAIN">
// 		<div class="external-features ob-strip-layout AR_1">
// 			<div class="ob-widget-header">From Around the Web</div>
// 			<ul class="ob-widget-items-container">
// 				<li class="ob-dynamic-rec-container ob-recIdx-0">
//					<article class="archive-view">
//						<figure>
//							<a href="#"><img src="http://lorempixel.com/380/214/cats" alt="article-image"></a>
//						</figure>
//						<header>
//							<h6 class="ob-rec-text"><a href="#">Here's Why You Should Stop 'Googling' Names for Info</a></h6>
// 							<a href="#" class="ob-rec-source">BeenVerified.com</a>
//						</header>
//					</article>
//				</li>
// 				<li class="ob-dynamic-rec-container ob-recIdx-1">
//					<article class="archive-view">
//						<figure>
//							<a href="#"><img src="http://lorempixel.com/380/214/cats" alt="article-image"></a>
//						</figure>
//						<header>
//							<h6 class="ob-rec-text"><a href="#">A 10 Warthog Attack Run</a></h6>
// 							<a href="#" class="ob-rec-source">YouTube</a>
//						</header>
//					</article>
//				</li>
// 				<li class="ob-dynamic-rec-container ob-recIdx-2">
//					<article class="archive-view">
//						<figure>
//							<a href="#"><img src="http://lorempixel.com/380/214/cats" alt="article-image"></a>
//						</figure>
//						<header>
//							<h6 class="ob-rec-text"><a href="#">You'll Never Believe These 6 Facts About Bonnie and Clyde</a></h6>
// 							<a href="#" class="ob-rec-source">Ancestry</a>
//						</header>
//					</article>
//				</li>
//			</ul>
// 			<ul class="ob-widget-items-container">
// 				<li class="ob-dynamic-rec-container ob-recIdx-3">
//					<article class="archive-view">
//						<figure>
//							<a href="#"><img src="http://lorempixel.com/380/214/cats" alt="article-image"></a>
//						</figure>
//						<header>
//							<h6 class="ob-rec-text"><a href="#">Here's Why You Should Stop 'Googling' Names for Info</a></h6>
// 							<a href="#" class="ob-rec-source">BeenVerified.com</a>
//						</header>
//					</article>
//				</li>
// 				<li class="ob-dynamic-rec-container ob-recIdx-4">
//					<article class="archive-view">
//						<figure>
//							<a href="#"><img src="http://lorempixel.com/380/214/cats" alt="article-image"></a>
//						</figure>
//						<header>
//							<h6 class="ob-rec-text"><a href="#">A 10 Warthog Attack Run</a></h6>
// 							<a href="#" class="ob-rec-source">YouTube</a>
//						</header>
//					</article>
//				</li>
// 				<li class="ob-dynamic-rec-container ob-recIdx-5">
//					<article class="archive-view">
//						<figure>
//							<a href="#"><img src="http://lorempixel.com/380/214/cats" alt="article-image"></a>
//						</figure>
//						<header>
//							<h6 class="ob-rec-text"><a href="#">You'll Never Believe These 6 Facts About Bonnie and Clyde</a></h6>
// 							<a href="#" class="ob-rec-source">Ancestry</a>
//						</header>
//					</article>
//				</li>
//			</ul>
//		</div>
// 		<div class="ob-classic-layout AR_2">
// 			<div class="ob-widget-section">
// 				<div class="ob-widget-header">More From Section</div>
// 				<ul class="ob-widget-items-container">
//					<li class="ob-dynamic-rec-container"><a class="ob-rec-text" href="#">YouTube</a> <a href="#" class="ob-rec-source">YouTube</a></li>
//					<li class="ob-dynamic-rec-container"><a class="ob-rec-text" href="#">Would You Step In?</a> <a href="#" class="ob-rec-source">YouTube</a></li>
//					<li class="ob-dynamic-rec-container"><a class="ob-rec-text" href="#">Ever Googled Yourself? A Popular Website Reveals More Than Major Search Engines…</a> <a href="#" class="ob-rec-source">Instant Checkmate</a></li>
//					<li class="ob-dynamic-rec-container"><a class="ob-rec-text" href="#">Helping Students with Emotional and Behavioral Disabilities Part 1</a> <a href="#" class="ob-rec-source">Pearson</a></li>
//					<li class="ob-dynamic-rec-container"><a class="ob-rec-text" href="#">Identical twins who speak 9 languages and understand a dozen more!</a> <a href="#" class="ob-rec-source">Babbel</a></li>
//					<li class="ob-dynamic-rec-container"><a class="ob-rec-text" href="#">I Hate the Open-Plan Kitchen—and Amazingly, I’m No Longer the Only One</a> <a href="#" class="ob-rec-source">Realtor.com</a></li>
// 				</ul>
// 			</div>
// 			<div class="ob-widget-section ob-last">
// 				<div class="ob-widget-header">You Might Also Like</div>
//				<ul class="ob-widget-items-container">
//					<li class="ob-dynamic-rec-container"><a class="ob-rec-text" href="#">New Ulm pastor arrested in prostitution sting</a></li>
//					<li class="ob-dynamic-rec-container"><a class="ob-rec-text" href="#">Gophers basketball no longer in mix for center Chris Obekpa</a></li>
//					<li class="ob-dynamic-rec-container"><a class="ob-rec-text" href="#">Wisconsinite, 21, severely injured in river jump near Red Wing</a></li>
//					<li class="ob-dynamic-rec-container"><a class="ob-rec-text" href="#">Oakdale man gets 14 years for putting daughter in coma</a></li>
//					<li class="ob-dynamic-rec-container"><a class="ob-rec-text" href="#">Bloomington SuperAmerica accuser wasn't in store that day, police say</a></li>
//					<li class="ob-dynamic-rec-container"><a class="ob-rec-text" href="#">Bon Iver makes triumphant homecoming at Eaux Claires festival</a></li>
//				</ul>
// 			</div>
// 		</div>
// 	</div>
//	<div class="ob-logo">
//		<span>Recommended by</span>
//		<img width="150px" src="http://logonoid.com/images/outbrain-logo.png">
//	</div>
// </div>
//
// Styleguide article.recirc

/* stylelint-disable declaration-no-important */
.recirc {

	.OUTBRAIN {

		.AR_1,
		.AR_2 {

			&.ob-classic-layout,
			&.ob-strip-layout {

				.ob-widget-header {
					color: $primary;
					font-size: em-calc(21) !important;
					font-family: $meta !important;
					font-weight: 700 !important;
					line-height: 1.15 !important;
					text-transform: none;
				}

				.ob-widget-items-container {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					width: 100%;
				}

				.ob-dynamic-rec-container {

					&:hover {
						text-decoration: none;

						.ob-rec-text {
							color: $primary-light;
							text-decoration: none;
						}

						.ob-rec-source {
							@include font(13, 14, $meta, 400, normal);
							text-decoration: none;
						}
					}
				}

				.ob-rec-text {
					color: $text;
					max-height: none;
				}

				.ob-rec-source,
				.ob-widget-header span {
					@include font(13, 14, $meta, 400, normal);
					color: $gray-300;
				}
			}
		}

		.AR_1 {

			// Layout with images
			&.ob-strip-layout {
				margin-bottom: spacing();

				.ob-widget-header {
					@extend %header-border;
					height: em-calc(50, false, 21);

					> span {
						font-size: em-calc(14, false, 21);
					}
				}

				.ob-rec-text {
					@include font(17, 20.5, $meta, 700);
					padding: em-calc(12 10 5, false, 17);
				}

				.ob-rec-source {
					padding: em-calc(5 10 20, false, 13);
				}

				.ob-widget-items-container {
					@include vertical-rhythm();
					@extend %clearfix;

					@include ai-breakpoint(false, s) {
						display: inline;
						float: none;

						&::after {
							display: none;
						}
					}
				}

				.ob-dynamic-rec-container {
					@include ai-span(16/3, xl);
					@include ai-span(13/3, l);
					@include ai-span(10/3, m);
					@include ai-span(8/3, s);
					@include ai-span(2, xs);
					margin-left: 0;
					max-width: none;

					@include ai-breakpoint(false, s) {
						margin-bottom: spacing(1.5);
						float: left;

						&:last-child {
							margin-bottom: spacing(1.5);
						}

						&.ob-recIdx-0,
						&.ob-recIdx-2,
						&.ob-recIdx-4 {
							margin-right: em-calc(20);
						}
					}
				}

				.ob-dynamic-rec-link {
					@extend %archive-box;
					display: flex;
					flex-direction: column;
				}

				.ob-rec-image-container {
					order: 1;
				}
			}
		}

		.AR_2 {

			// Layout with headline lists
			&.ob-classic-layout {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.ob-rec-text {
					@include font(17, 20.5, $meta, 700);
				}

				.ob-widget-items-container {
					@include vertical-rhythm(0.5);
					list-style: disc outside none;
					margin-left: px-to-em(17);

					.ob-dynamic-rec-container {
						display: list-item;
					}
				}

				.ob-widget-section {
					@include ai-span(8, xl);
					@include ai-span(6.5, l);
					@include ai-span(5, m);
					@include ai-span(8, s);
					@include ai-span(4, xs);

					&.ob-first {

						.ob-widget-header {
							@extend %header-border;
							height: em-calc(36, false, 21);
						}
					}

					&.ob-last {
						margin-right: 0;

						.ob-widget-header {
							margin-top: em-calc(32);
							position: relative;

							@include ai-breakpoint(false, m) {
								height: em-calc(36, false, 21);
								margin-top: em-calc(16);

								&::before {
									background-color: transparent;
									border-bottom: 3px solid $primary;
									content: '';
									height: 100%;
									left: em-calc(-12, false, 18);
									position: absolute;
									top: 0;
									width: 200vw;
									z-index: 0;

									@include ai-breakpoint(xl) {
										left: calc((100vw - #{em-calc(1260, true)}) / -2);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/* stylelint-enable */
