// Search Filter
//
// Filter search results

.filter-expand {
	@extend %blue-block;
	@include font(16, 19, $meta, 700);
	border: 1px solid $primary-light;
	color: $primary-light;
	background-color: $gray-max;

	&:hover,
	&:focus {
		color: $primary-light;
	}

	.expand {
		@include border-arrow($primary-light, left);
		top: 0;
		/* stylelint-disable */
		margin: 0;
		/* stylelint-enable */
	}

	&.filter-open {
		padding-left: px-to-em(5);
		background-color: $primary-light;
		color: $gray-max;

		.expand {
			border-left-color: transparent;
			border-right-color: $gray-max;
			margin: em-calc(0 5 0 0);
		}

		&:hover,
		&:focus {
			color: $gray-max;
		}
	}
}

.filter {
	background-color: $gray-max;
	border: 1px solid $text;
	overflow: auto;
	padding: em-calc(24 10);
	z-index: index($indices, filters);

	input[type="radio"],
	label {
		display: inline-block;
	}

	.filter-form {
		@include vertical-rhythm();
		padding-bottom: px-to-em(24);
	}

	.filter-section {
		@include vertical-rhythm();
		@extend %clearfix;
		padding-bottom: spacing();
		border-bottom: 1px solid $gray-400;

		h5 {
			margin-bottom: px-to-em(8, false, 18);
			font-weight: 700;
			text-transform: uppercase;
		}

		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}
	}

	.option {
		position: relative;
		width: 100%;

		label {
			font-size: px-to-em(18);
			padding-left: px-to-em(25);
		}
	}

	.date-start,
	.date-end {
		@extend %form-icon;
		@include ai-span(8, xl);
		@include ai-span(6.5, l);
		@include ai-span(5, m);
		@include ai-span(4, s);
		@include ai-span(2, xs);

		label {
			@include font(15, 28, $meta, 400);
		}

		input {
			width: 100%;
		}

		.icon-calendar {
			top: px-to-em(34, false, 18);
			font-size: px-to-em(18);
			color: $gray-400;

			&:hover {
				color: $gray-400;
			}
		}
	}

	.date-end {

		@include ai-breakpoint(xs) {
			margin-right: 0;
		}
	}

	.see-all {
		@include font(15, 28, $meta, 700);

		.expand {
			@include border-arrow($text);
		}

		&.open {

			.expand {
				border-top-color: transparent;
				border-bottom-color: $gray-min;
				top: px-to-em(-3);
			}
		}
	}

	.search & {
		position: absolute;
		top: -1px;
		left: 0;
		height: 100%;
		// 2D transform for IE9
		transform: translate(-1000%, 0);
		transform: translate3d(-1000%, 0, 0);
		transition: transform 250ms ease-in-out;

		&.filter-open {
			// 2D transform for IE9
			transform: translate(0, 0);
			transform: translate3d(0, 0, 0);
		}

		@include ai-breakpoint(m) {
			width: px-to-em(350);
		}

		@include ai-breakpoint(false, m) {
			width: px-to-em(300);
		}
	}
}

.more-filters {
	background: linear-gradient(0, $gray-max, rgba(255, 255, 255, 0));
	display: block;
	bottom: 2px;
	height: px-to-em(64);
	left: 1px;
	pointer-events: none;
	position: absolute;
	z-index: index($indices, filter-more);

	@include ai-breakpoint(m) {
		width: px-to-em(348);
	}

	@include ai-breakpoint(false, m) {
		width: px-to-em(298);
	}
}