// SCNG Modern Earthy: Fonts
//
// body - Body Copy
// heading - Headings
// widget - Widget Titles
// meta-data - Meta info
//
// markup: fonts.hbs
//
// data: fonts.json
//
// Styleguide core.fonts

// URL: https://fonts.googleapis.com/css?family=Poppins:400,600,700|Source+Serif+Pro:400,700

$body: 'Source Serif Pro', Helvetica, sans-serif;
$heading: 'Poppins', Helvetica, sans-serif;
$widget: 'Poppins', Helvetica, sans-serif;
$meta: 'Poppins', Helvetica, sans-serif;
