// Newsletter
//
// Simple newsletter sign up prompt
//
// markup:
// <div class="newsletter-simple">
//	<div class="newsletter-item">
//		<p class="prompt">Get the latest news delivered daily</p>
//		<a href="#">Subscribe</a>
//	</div>
// </div>
//
// Styleguide modules.newsletter

.newsletter-simple {

	a {
		@extend %border-button;
		display: inline-block;

		&:hover {
			background-color: $primary-light;
			color: $gray-max;
		}
	}

	.newsletter-item {
		border-bottom: 1px solid $gray-max;
		padding-bottom: spacing();

		@include ai-breakpoint(false, l) {
			padding: em-calc(16 0);
		}
	}

	.feature-primary & {
		text-align: center;
	}

	.article-sidebar & {
		text-align: center;
		margin-bottom: spacing();

		.newsletter-item {
			justify-content: center;
		}
	}

	.feature-section & {
		margin-bottom: 0;

		.newsletter-item {
			align-items: center;
			border-bottom: 0;
			display: flex;

			@include ai-breakpoint(false, l) {
				justify-content: space-between;
			}

			@include ai-breakpoint(l) {
				justify-content: center;
				padding-bottom: 0;
			}
		}
	}
}

.prompt {
	@include font(16, 21, $widget, 600);
	color: $gray-200;
	margin-bottom: em-calc(12, true);
	position: relative;
	width: 100%;
}

#mg2Widget-newsletter-container .pm__overlay {
	z-index: $z-max - 9;
}

#mg2Widget-newsletter-container .pm__wrapper {
	z-index: $z-max - 8;
}
