{{#if wrapper}}
    <div class="{{wrapper}}">
{{/if}}
<section class="popular widget-popular-stories">
	<h2 class="widget-title"><span>Most Popular</span></h2>
		<ol>
			<li>
				<a href="#"><span>How to pick a perfect watermelon every time</span></a>
			</li>
			<li>
				<a href="#"><span>Bill Clinton arrives in San Francisco for fundraiser, Hillary Clinton to be in San Jose on Thursday</span></a>
			</li>
			<li>
				<a href="#"><span>Goobye, empty nest: Millennials staying longer with parents</span></a>
			</li>
			<li>
				<a href="#"><span>New wave DIY trail mix is tastier than ever</span></a>
			</li>
			<li>
				<a href="#"><span>Thompson: Warriors need Stephen Curry to regain magic</span></a>
			</li>
			<li>
				<a href="#"><span>Keith Green murder puts spotlight on mysterious Hillsborough mansion</span></a>
			</li>
			<li>
				<a href="#"><span>Supporters of shipping coal through Oakland say it will bring jobs</span></a>
			</li>
			<li>
				<a href="#"><span>San Jose homicide: Son suspected of fatally beating father, dumping body in trash can</span></a>
			</li>
		</ol>
</section>
{{#if wrapper}}
    </div>
{{/if}}
