<aside class="related">
	<h2 class="widget-title">Related Articles</h2>
	<ul>
		<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="highlight-one" data-huron-type="template"></div></li>
		<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="highlight-two" data-huron-type="template"></div></li>
		<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="highlight-three" data-huron-type="template"></div></li>
		<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="highlight-four" data-huron-type="template"></div></li>
		<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="highlight-one" data-huron-type="template"></div></li>
	</ul>
</aside>