<section class="section-highlight">
	<h2><a href="#">Section <span class="icon-arrow-right"></span></a></h2>
	<div class="section-highlight-content">
		<div class="section-feature">
			<div data-huron-id="article-archive-feature-medium" data-huron-modifier="highlight-one" data-huron-type="template"></div>
		</div>
		<div class="headline-list">
			<ul>
				<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="highlight-one" data-huron-type="template"></div></li>
				<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="highlight-one" data-huron-type="template"></div></li>
				<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="highlight-one" data-huron-type="template"></div></li>
				<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="highlight-one" data-huron-type="template"></div></li>
			</ul>
		</div>
	</div>
</section>