// Push Menu
//
// styles for push-out menu

.pushnav {
	background-color: $pushnav-bg;
	height: 100%;
	overflow: auto;
	position: fixed;
	width: 260px;
	z-index: index($indices, pushnav);
	display: none;

	&.pushnav-left,
	&.pushnav-right {
		display: block;
		transition: transform 250ms ease-in-out;
	}

	&.pushnav-left {
		left: 0;
		transform: translate(-100%);
	}

	&.pushnav-right {
		right: 0;
		transform: translate(100%);
	}

	&.push-from-left,
	&.push-from-right {
		transform: translate(0);
	}

	li {

		&:hover,
		&:focus {

			> a {
				border-bottom: 1px solid $gray-300;
			}
		}

		> a {
			border-bottom: 1px solid $pushnav-border;
			display: block;
			width: 100%;
			padding: em-calc(15 10);
			color: $gray-max;
		}
	}

	.menu-item-has-children:not(.nav-alt-links) {
		overflow: hidden;
		position: relative;
		transition: height 250ms ease-in-out;

		li {

			&:last-child {
				border-bottom: 0;
			}
		}

		> a {
			background-color: $pushnav-bg;
			display: inline-block;
			position: relative;
			width: 100%;
			z-index: index($indices, expand-nav-items);

			&::before {
				@extend %icon;
				align-items: center;
				color: $gray-max;
				content: '\e10f';
				cursor: pointer;
				display: flex;
				font-size: em-calc(18);
				height: 100%;
				justify-content: flex-end;
				padding-right: em-calc(15);
				position: absolute;
				top: 0;
				right: 0;
			}
		}

		> ul {
			position: relative;
			background-color: $pushnav-bg;
			transform: translate(0, -200%);
			transition: transform 250ms ease-in-out;
			z-index: index($indices, expand-navs);

			a {
				padding: em-calc(10);
			}
		}

		&.submenu-open {

			> a {

				&::before {
					content: "\e209";
				}
			}

			> ul {
				transform: translate(0, 0);
			}
		}
	}

	.nav-alt-links {
		border-top: 3px solid $gray-100;

		> a {
			display: none;
		}

		li > a {
			@include font(16, 18, $meta, 700)
		}
	}

	.trending-nav {
		display: none;
	}
}