// Trending Bar
//
// Styles for trending and special topics bar at bottom of header

.trending-bar {
	float: left;
	position: relative;
	font-family: $meta;
	width: 100%;

	@include ai-breakpoint(false, $header-primary-bp) {
		position: absolute;
		display: none;
		top: px-to-em(117);
		left: 0;
		margin: 0;
		z-index: index($indices, trending);
	}

	nav {
		width: 100%;
		padding-left: px-to-em(90);
		display: inline-block;
		float: left;

		@include ai-breakpoint(false, $header-primary-bp) {
			padding-left: 0;
		}
	}

	ul {
		list-style: none;
		float: left;
		width: 100%;
		overflow: hidden;

		@include ai-breakpoint($header-primary-bp) {
			align-items: center;
			display: flex;
			justify-content: space-around;
		}

		@include ai-breakpoint(false, $header-primary-bp) {
			width: 100%;
			height: auto;
			overflow: visible;
		}
	}

	li {

		@include ai-breakpoint(false, $header-primary-bp) {
			display: block;
			float: none;
			line-height: 1.25;
			margin: 0;

			&:last-child a {
				border: none;
			}
		}
	}

	a {
		text-decoration: none;

		@include ai-breakpoint(false, $header-primary-bp) {
			border-bottom: 1px solid $gray-400;
			color: $text;
			display: block;
			font-size: px-to-em(15);
			padding: spacing(1);

		}
	}

	.trending-bar-wrapper {
		@extend %container;

		> p {
			position: absolute;
			top: px-to-em(3);
			font-weight: 800;
			line-height: px-to-em(30);
		}

		@include ai-breakpoint(false, $header-primary-bp) {
			padding: 0;
		}
	}

	.label {

		@include ai-breakpoint(false, $header-primary-bp) {
			display: none;
		}
	}
}

// Sticky styles
.headroom--not-top {

	.trending-bar-wrapper {

		ul,
		> p {
			display: none;
		}
	}

	.trending-bar {
		position: absolute;
		right: 0;
		top: px-to-em(15);
		background-color: transparent;

		.search-form {
			margin-right: px-to-em(5);

			@include ai-breakpoint(m) {
				position: absolute;
				right: 10px;
				top: -5px;
			}
		}
	}
}