// SCNG Bold Coastal: Fonts
//
// body - Body Copy
// heading - Headings
// widget - Widget Titles
// meta-data - Meta info
//
// markup: fonts.hbs
//
// data: fonts.json
//
// Styleguide core.fonts

// URL: https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400i,700,700i

$body: 'Droid Sans', Helvetica, sans-serif;
$heading: 'Droid Serif', Helvetica, sans-serif;
$widget: 'Droid Sans', Helvetica, sans-serif;
$meta: 'Droid Sans', Helvetica, sans-serif;
