<div class="colophon">
	<ul id="primary-menu" class="menu">
		<li><a target="_blank" href="http://www.digitalfirstmedia.com/">© 2016 Digital First Media</a></li>
		<li><a target="_blank" href="#0">Site Map</a></li>
		<li><a href="http://mercurynews.dfmdev.com/copyright/">Copyright</a></li>
		<li><a href="http://mercurynews.dfmdev.com/privacy-policy/">Privacy Policy</a></li>
		<li><a target="_blank" href="https://vip.wordpress.com/">Powered by WordPress.com VIP</a></li>
		<li><a href="http://www.socalnewsgroup.com/">Southern California News Group</a></li>
	</ul>
</div>
