<header class="footer-header">
	<div class="footer-header-wrapper">
		<ul class="footer-links">
			{{#each links}}
				<li>
					<a href="{{link}}">{{text}}</a>
				</li>
			{{/each}}
		</ul>
		<div data-huron-id="sharing-list" data-huron-type="template"></div>
	</div>
</header>