// Silicon Valley: Takeover Layout
//
// Primary featured area takeover
//
// markup:
// <section class="feature-primary takeover">
// 	<div data-huron-id="article-archive-feature-large" data-huron-type="template"></div>
// 	<div data-huron-id="ad-samples-house" data-huron-type="template"></div>
// 	<div data-huron-id="ad-samples-portrait" data-huron-type="template"></div>
//  <div class="feature-bottom">
//		<sg-insert>9.3.1</sg-insert>
//		<sg-insert>9.3.1</sg-insert>
//		<sg-insert>9.3.1</sg-insert>
//		<sg-insert>9.3.1</sg-insert>
// 	</div>
// </section>
//
// Styleguide features.takeover

.takeover {
	@include vertical-rhythm();
	@extend %clearfix;
	margin-bottom: spacing();
	overflow: visible;
	position: relative;

	.feature-large,
	.feature-large-top {
		@include ai-span(12, xl);
		@include ai-span(9, l);
		@include ai-span(10, m);
		@include ai-span(8, s);
		@include ai-span(4, s);
	}

	.feature-bottom {
		@include vertical-rhythm();
		@include ai-span(12, xl);
		@include ai-span(9, l);
		@include ai-span(6, m);
		@include ai-span(8, s);
		@include ai-span(4, s);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.feature-small {
			@include ai-span(8, xl);
			@include ai-span(13/2, l);
			@include ai-span(10, m);
			@include ai-span(8, s);
			@include ai-span(4, xs);

			&:last-child {
				margin-right: 0;
				border-bottom: 0;
				padding-bottom: 0;
			}
		}
	}

	.feature-large,
	.feature-bottom {
		@include ai-breakpoint(m) {
			float: left;
		}
	}

	.dfp-ad {
		@include ai-span(4, xl);
		@include ai-span(4, l);
		@include ai-span(4, m);
		@include ai-span(4, s);
		@include ai-span(4, xs);

		@include ai-breakpoint(m, l) {
			float: right;
		}

		@include ai-breakpoint(l) {
			float: right;
		}
	}

	.two-cents-swap {
		display: none;
	}
}