<div class="styleguide-header">
	<h4>SCNG Theme Styleguides:</h4>
	<ul class="styleguide-links">
		<li><a href="../measuredvibrant/styleguide.html">Measured + Vibrant</a></li>
		<li><a href="../modernearthy/styleguide.html">Modern + Earthy</a></li>
		<li><a href="../boldcoastal/styleguide.html">Bold + Coastal</a></li>
		<li><a href="../dailynews/styleguide.html">Los Angeles Daily News</a></li>
	</ul>

	<div class="styleguide-logo"></div>
	<h1 class="styleguide-title">
		SCNG Styleguide
	</h1>
</div>
<div huron-sections></div>
<div huron-menu></div>
