// Additonal helpers that require the grid to function

%offset-background {
    position: relative;

    &::before {
        background-color: $color-bg-offset;
        content: '';
        height: 100%;
        left: em-calc(-12, false, 18);
        position: absolute;
        top: 0;
        width: 200vw;
        z-index: -1;

        @include ai-breakpoint(xl) {
            left: calc((100vw - #{em-calc(1260, true)}) / -2);
        }
    }
}
