// Denver Post: Author Stories
//
// Author's featured stories
//
// markup:
// <div class="author-featured-stories">
// 	<h2>Section</h2>
// 	<div data-huron-id="article-archive-author-landing" data-huron-type="template"></div>
// 	<div data-huron-id="article-archive-author-landing" data-huron-type="template"></div>
// 	<div data-huron-id="article-archive-author-landing" data-huron-type="template"></div>
// </div>
//
// Styleguide author.stories

.author-featured-stories {

	> h2 {
		@extend %section-highlight-alt;
		border-bottom: 0;
		border-top: 5px solid $gray-min;
		color: $primary;
		margin-bottom: spacing(0.5);
	}
}