// More News
//
// Large "More News" section at bottom of articles
//
// markup: more-news.html
//
// Styleguide article.more-news

.more-news {
	margin-bottom: spacing(2);

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	li {
		@include ai-span(4, xl);
		@include ai-span(3.25, l);
		@include ai-span(5, m);
		@include ai-span(4, s);
		@include ai-span(4, xs);
		margin-right: em-calc(20);

		@include ai-breakpoint(l) {

			&:nth-child(4n) {
				margin-right: 0;
				margin-bottom: 1.5em;
			}
		}

		@include ai-breakpoint(s, l) {

			&:nth-child(even) {
				margin-right: 0;
				margin-bottom: 1.5em;
			}
		}
	}

	.widget-title {
		@include font(21, 26, $meta, 600);
		color: $primary;
		margin-bottom: spacing();
		text-transform: uppercase;
	}

	.archive-view {
		flex-direction: column;

		figure {
			width: 100%;
		}

		.entry-title {
			font-size: em-calc(18);
		}
	}
}