// Article Tags
//
// Article tags
//
// markup: tags.html
//
// Styleguide article.tags

.tags {
	align-items: center;
	display: flex;
	padding: em-calc(16 0);

	ul {
		position: relative;
		z-index: 1;
	}

	li {
		margin-left: spacing(0.5);

		&:first-child {
			@include font(15, 15, $meta, 400);
			margin-right: 0;
		}
	}

	a {
		@include font(16, 16, $meta, 600);
		color: $primary;

		&:hover {
			color: $gray-min;
		}
	}
}
