<div class="about-the-author">
	<img src="http://lorempixel.com/85/85/people" alt="author avatar">
	<div class="about-author-content">
		<h3 class="author vcard"><span class="fn"><a href="#">Marisa Kendall</a></span></h3>
		<p class="author-description">Marisa Kendall covers startups and venture capital. Integer diam tortor, aliquet ut porta non, aliquet sed nunc. Maecenas eu semper augue. Aliquam erat volutpat. Cras varius ex sed metus finibus convallis. Maecenas bibendum velit a nisl eleifend porttitor</p>
		<a href="#" class="twitter-follow"><i class="icon-twitter"></i> Marisa <strong>@marisakendall</strong></a>
	</div>
</div>
