{{#if wrapper}}
    <div class="{{ wrapper }}">
{{/if}}
<header class="article-header">
    <div class="header-title-area">
        <div data-huron-id="article-breadcrumbs" data-huron-type="template"></div>

        <div class="headline-area">
            <div class="headlines">
                <h1>Congress OKs Pechanga water rights settlement</h1>

                <h2>
					The Sharks were trying to keep things as simple as possible in the hours before the biggest game in franchise history.
				</h2>
            </div>
        </div>

        <div data-huron-id="sharing-article" data-huron-type="template"></div>
    </div>
</header>
{{#if wrapper}}
    </div>
{{/if}}
