<footer class="article-footer">
	<div class="footer-meta">
		<div class="footer-meta-content">
			<div data-huron-id="article-tags" data-huron-type="template"></div>
			<div data-huron-id="article-about-author" data-huron-type="template"></div>
		</div>
		<div data-huron-id="modules-ads" data-huron-modifier="box" data-huron-type="template"></div>
	</div>
	<div class="placeholder">
		Outbrain goes here, markup will be styles during theme development
	</div>
	<div id="comments" class="placeholder">
		COMMENTS GO HERE, markup provided by Disqus
	</div>
	<div data-huron-id="modules-ads" data-huron-modifier="promo" data-huron-type="template"></div>
	<div data-huron-id="article-more-news" data-huron-type="template"></div>
</footer>