<div class="article-slideshow">
	<button class="icon-close"></button>
	<ul>
		<li>
  		<img src="http://lorempixel.com/960/540/sports/1" alt="article featured image">
  		<p class="slide-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer diam tortor, aliquet ut porta non, aliquet sed nunc. Maecenas eu semper augue. Aliquam erat volutpat. Cras varius ex sed metus finibus convallis. Maecenas bibendum velit a nisl eleifend porttitor</p>
			<p class="slide-credit">Photo by Bob Johnson</p>
  	</li>
		<li>
  		<img src="http://lorempixel.com/960/540/sports/2" alt="article featured image">
  		<p class="slide-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer diam tortor, aliquet ut porta non, aliquet sed nunc. Maecenas eu semper augue. Aliquam erat volutpat. Cras varius ex sed metus finibus convallis. Maecenas bibendum velit a nisl eleifend porttitor</p>
			<p class="slide-credit">Photo by Bob Johnson</p>
  	</li>
		<li>
  		<img src="http://lorempixel.com/960/540/sports/3" alt="article featured image">
  		<p class="slide-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer diam tortor, aliquet ut porta non, aliquet sed nunc. Maecenas eu semper augue. Aliquam erat volutpat. Cras varius ex sed metus finibus convallis. Maecenas bibendum velit a nisl eleifend porttitor</p>
			<p class="slide-credit">Photo by Bob Johnson</p>
  	</li>
		<li>
  		<img src="http://lorempixel.com/960/540/sports/5" alt="article featured image">
  		<p class="slide-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer diam tortor, aliquet ut porta non, aliquet sed nunc. Maecenas eu semper augue. Aliquam erat volutpat. Cras varius ex sed metus finibus convallis. Maecenas bibendum velit a nisl eleifend porttitor</p>
			<p class="slide-credit">Photo by Bob Johnson</p>
  	</li>
	</ul>
	<div class="caption">
		<div class="slideshow-credit">Joe Amon, Denver Post</div>
		<div class="slide-count"><span class="current">1</span> of <span class="total">4</span></div>
		<p class="slideshow-caption">Denver Broncos quarterback Peyton Manning speaking during a press conference to announce his retirement March 7, 2016 at Dove Valley in Englewood.</p>
		<a href="#" class="icon-enlarge"><span>Expand</span></a>
	</div>
</div>
