<section class="feature-primary busy">
	<div class="feature-wrapper">
		<div data-huron-id="header-breaking" data-huron-type="template"></div>
		<div class="feature-left">
			<div class="feature-top">
				<div data-huron-id="article-archive-feature-large" data-huron-modifier="busy-feature" data-huron-type="template"></div>
			</div>
 			<div class="feature-bottom">
				<div data-huron-id="article-archive-feature-small" data-huron-modifier="busy-one" data-huron-type="template"></div>
				<div data-huron-id="article-archive-sponsored" data-huron-modifier="busy-feature" data-huron-type="template"></div>
				<div data-huron-id="article-archive-feature-small" data-huron-modifier="busy-three" data-huron-type="template"></div>
				<div data-huron-id="article-archive-feature-small" data-huron-modifier="busy-four" data-huron-type="template"></div>
			</div>
		</div>
		<div class="headline-list">
			<h2 class="headline-list-title"><a href="#">Latest Headlines</a></h2>
			<ul>
				<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="busy-one" data-huron-type="template"></div></li>
				<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="busy-two" data-huron-type="template"></div></li>
				<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="busy-three" data-huron-type="template"></div></li>
				<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="busy-four" data-huron-type="template"></div></li>
				<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="busy-five" data-huron-type="template"></div></li>
				<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="busy-six" data-huron-type="template"></div></li>
				<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="busy-seven" data-huron-type="template"></div></li>
				<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="busy-eight" data-huron-type="template"></div></li>
				<li class="social-links">
					<div data-huron-id="modules-newsletter" data-huron-type="template"></div>
					<div data-huron-id="sharing-list" data-huron-modifier="with-prompt" data-huron-type="template"></div>
				</li>
			</ul>
		</div>
	</div>
	<div class="swappable" data-swap-location=".busy .headline-list" data-swap-method="prepend" data-swap-max="l">
		<div data-huron-id="modules-ads" data-huron-modifier="portrait" data-huron-type="template"></div>
	</div>
</section>
