<section class="feature-media slideshow-landing">
	<div class="media-content">
		<h2 class="widget-title"><a href="#">Photos & Videos <span class="icon-arrow-right"></span></a></h2>
		<ul class="media-articles">
			<li class="media-feature-primary">
				<div data-huron-id="article-archive-feature-large" data-huron-modifier="media-feature" data-huron-type="template"></div>
			</li>
			<li class="media-feature-secondary">
				<div data-huron-id="article-archive-feature-small" data-huron-modifier="media-one" data-huron-type="template"></div>
			</li>
			<li class="media-feature-secondary">
				<div data-huron-id="article-archive-feature-small" data-huron-modifier="media-two" data-huron-type="template"></div>
			</li>
			<li class="media-feature-secondary">
				<div data-huron-id="article-archive-feature-small" data-huron-modifier="media-one" data-huron-type="template"></div>
			</li>
			<li class="media-feature-secondary">
				<div data-huron-id="article-archive-feature-small" data-huron-modifier="media-two" data-huron-type="template"></div>
			</li>
			<li class="media-feature-secondary">
				<div data-huron-id="article-archive-feature-small" data-huron-modifier="media-one" data-huron-type="template"></div>
			</li>
			<li class="media-feature-secondary">
				<div data-huron-id="article-archive-feature-small" data-huron-modifier="media-two" data-huron-type="template"></div>
			</li>
		</ul>
		<button class="show-more-videos">Show More</button>
	</div>
</section>