<section class="feature-primary slow">
	<div class="feature-top">
		<div data-huron-id="article-archive-feature-large" data-huron-modifier="section-feature" data-huron-type="template"></div>
		<div data-huron-id="article-archive-feature-medium" data-huron-modifier="highlight-one" data-huron-type="template"></div>
		<div data-huron-id="article-archive-feature-medium" data-huron-modifier="highlight-one" data-huron-type="template"></div>
	</div>
	<div data-huron-id="modules-ads" data-huron-modifier="portrait" data-huron-type="template"></div>
	<div class="feature-bottom">
		<ul class="headline-list">
			<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="busy-one" data-huron-type="template"></div></li>
			<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="busy-two" data-huron-type="template"></div></li>
			<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="busy-three" data-huron-type="template"></div></li>
			<li><div data-huron-id="article-archive-headline-only" data-huron-modifier="busy-four" data-huron-type="template"></div></li>
		</ul>
		<div data-huron-id="article-archive-feature-small" data-huron-modifier="busy-three" data-huron-type="template"></div>
		<div data-huron-id="article-archive-feature-small" data-huron-modifier="busy-four" data-huron-type="template"></div>
	</div>
</section>