<section class="feature-primary takeover">
	<div data-huron-id="article-archive-feature-large" data-huron-modifier="busy-feature" data-huron-type="template"></div>
	<div data-huron-id="modules-ads" data-huron-modifier="portrait" data-huron-type="template"></div>
 	<div class="feature-bottom">
		<div data-huron-id="article-archive-feature-small" data-huron-modifier="busy-one" data-huron-type="template"></div>
		<div data-huron-id="article-archive-feature-small" data-huron-modifier="busy-two" data-huron-type="template"></div>
		<div data-huron-id="article-archive-feature-small" data-huron-modifier="busy-three" data-huron-type="template"></div>
		<div data-huron-id="article-archive-feature-small" data-huron-modifier="busy-four" data-huron-type="template"></div>
	</div>
</section>
