// Silicon Valley: Advertisements
//
// Styles for ads

/* stylelint-disable declaration-no-important */
.dfp-ad {

	&.dfp-top_leaderboard {
		border-bottom: 1px solid $gray-500;
	}

	&.dfp-bottom_leaderboard {
		border-top: 1px solid $gray-500;
	}

	&.dfp-top_leaderboard,
	&.dfp-bottom_leaderboard {
		@extend %clearfix;
		height: auto;
		margin: em-calc(0 -10);
		padding: em-calc(10 0);
		width: 100vw !important; // need to override inline width for correct centering

		@include ai-breakpoint(xl) {
			margin-left: calc((#{em-calc(16 * $column-width)} - 100vw) / 2);
		}

		.dfp-ad {
			margin: 0;
		}
	}

	.category & {

		&#div-gpt-ad-Cube3_RRail_lower {
			z-index: 1;
			@include ai-breakpoint(false, l) {
				margin-bottom: spacing(2);
			}

			@include ai-breakpoint(l) {
				margin: em-calc(24 0);
				position: static;
			}

			&.stick {
				position: fixed;
			}
		}
	}

	.article-sidebar,
	.article-body & {

		@include ai-breakpoint(false, s) {
			float: none;
			margin-left: em-calc(-26);
			width: 100vw !important; // need to override inline width for correct centering
		}
	}

	.article-footer & {

		&.dfp-bottom_leaderboard {

			@include ai-breakpoint(false, xl) {
				margin-left: em-calc(-26);
			}

			@include ai-breakpoint(xl) {
				left: em-calc(-16);
			}
		}
	}

	&.dfp-Cube_Article {

		@include ai-breakpoint(m) {
			float: left;
			margin: em-calc(7 25 15 0)
		}

	}

	&.dfp-Sponsorship_2,
	&.dfp-Sponsorship_3,
	&.dfp-Sponsorship_4 {
		overflow: hidden;
		width: calc(100vw + #{em-calc(10)});

		@include ai-breakpoint(false, xl) {
			margin-left: em-calc(-10);
		}

		@include ai-breakpoint(xl) {
			margin-left: calc((100vw - #{em-calc(1260, true)}) / -2);
		}

		.category & {
			margin-bottom: spacing(2);
		}

		.prototype & {
			align-items: center;
			background-color: $gray-300;
			display: flex;
			height: em-calc(300);
			justify-content: center;

			p {
				@include font(24, 28, $meta, 400);
				color: $gray-max;
			}
		}
	}

	&.dfp-Sponsorship_1_mobile {
		border-top: 1px solid $gray-500;
		display: flex;
		justify-content: center;
		margin: spacing() auto;
		padding: spacing() 0 0;
		width: 100%;

		@include ai-breakpoint(xl) {
			border: 0;
			margin-top: 0;
			padding-top: 0;
		}

		@media (#{$ad-mq-desktop}) {
			display: none;
		}
	}

	.section #content & {

		.dfp-top_leaderboard {
			margin-bottom: 0;
		}
	}
}

.swap-ad-lower {
	position: relative;
}

.category {

	#wrapper-Cube1_RRail_ATF,
	#wrapper-Cube2_RRail_mid,
	#wrapper-Cube3_RRail_lower {

		@include ai-breakpoint(false, l) {
			margin-bottom: em-calc(24);
		}

		& .dfp-ad {
			height: auto;
		}

	}
}
/* stylelint-enable */
