// Silicon Valley: Most Popular
//
// Widget for most popular articles
//
// markup:
// <section class="popular widget-popular-stories {$modifiers}">
//	<h2 class="widget-title"><span>Most Popular</span><span class="icon-arrow-right"></span></h2>
// 		<ol>
// 			<li>
// 				<a href="#"><span>How to pick a perfect watermelon every time</span></a>
// 			</li>
// 			<li>
// 				<a href="#"><span>Bill Clinton arrives in San Francisco for fundraiser, Hillary Clinton to be in San Jose on Thursday</span></a>
// 			</li>
// 			<li>
// 				<a href="#"><span>Goobye, empty nest: Millennials staying longer with parents</span></a>
// 			</li>
// 			<li>
// 				<a href="#"><span>New wave DIY trail mix is tastier than ever</span></a>
// 			</li>
// 			<li>
// 				<a href="#"><span>Thompson: Warriors need Stephen Curry to regain magic</span></a>
// 			</li>
// 			<li>
// 				<a href="#"><span>Keith Green murder puts spotlight on mysterious Hillsborough mansion</span></a>
// 			</li>
// 			<li>
// 				<a href="#"><span>Supporters of shipping coal through Oakland say it will bring jobs</span></a>
// 			</li>
// 			<li>
// 				<a href="#"><span>San Jose homicide: Son suspected of fatally beating father, dumping body in trash can</span></a>
// 			</li>
// 		</ol>
// </section>
//
// Styleguide modules.popular

.popular {

	.widget-title {
		@extend %section-highlight-border;

		span {
			background-color: transparent;
			color: $gray-300;
			padding: 0;
		}
	}

	li {
		@include font(16, 22, $heading, 700);

		a {
			display: flex;
			justify-content: flex-start;

			&:hover {

				span {
					color: $primary-light;
				}
			}

			span {
				display: inline-block;
				width: 100%;
			}

			&::before {
				@include font(40, 40, $widget, 700);
				color: $gray-300;
				content: counter(section);
				display: inline-block;
				height: em-calc(40, false, 40);
				width: em-calc(40, false, 40);
			}
		}
	}

	.full-view & {

		ol {

			@include ai-breakpoint(m) {
				column-count: auto;
			}

			&::before {
				content: none;
			}
		}
	}
}
