// Denver Post: Fonts
//
// body - Body Copy: Source Serif
// heading - Headings: Source Serif
// widget - Widget Titles: Source Sans
// meta - Meta: Source Sans
//
// markup: fonts.hbs
//
// data: fonts.json
//
// Styleguide core.fonts

$body: 'Source Serif Pro', Helvetica, sans-serif;
$heading: 'Source Serif Pro', Helvetica, sans-serif;
$widget: 'Source Sans Pro', Helvetica, sans-serif;
$meta: 'Source Sans Pro', Helvetica, sans-serif;
