// Twin Cities: Fonts
//
// body - Body Copy: Source Sans
// heading - Headings: Hind
// widget - Widget Titles: Oswald
// meta-data - Meta info: Roboto Condensed
//
// markup: fonts.hbs
//
// data: fonts.json
//
// Styleguide core.fonts

$body: 'Source Sans Pro', Helvetica, sans-serif;
$heading: 'Hind', Helvetica, sans-serif;
$widget: 'Oswald', Helvetica, sans-serif;
$meta: 'Roboto Condensed', Helvetica, sans-serif;
