// Denver Post: Body Copy
//
// Article body text
//
// markup:
// <div class="body-copy">
// 	<p>Every time a quarterback points, Peyton earns his praise.</p>
//	<div class="alignleft">
//		<div data-huron-id="modules-related" data-huron-type="template"></div>
//	</div>
// 	<p><a href="#">Donec cursus metus sit amet lorem commodo tempor</a> vel ac risus. Aenean laoreet metus a rhoncus tempor. Proin molestie diam eu imperdiet ullamcorper. Praesent efficitur, nulla non commodo semper, magna velit scelerisque elit, at ornare urna justo eu libero. Donec ac lectus ante. Quisque vulputate rutrum quam eu semper. Proin sit amet tortor nec ligula rutrum viverra auctor eget leo. Donec hendrerit purus pharetra odio fringilla, malesuada pretium tellus vehicula. Quisque laoreet a lectus in vulputate. Aliquam in mattis ante. Curabitur ut semper justo.</p>
// 	<ol>
// 		<li>This is another inline list</li>
// 		<li>It happens to be an ordered list</p>
// 		<li>It's also mighty fancy</li>
// 	</ol>
// 	<p>Donec pellentesque augue tortor. Praesent convallis finibus orci. Proin nec congue odio. Duis massa erat, tristique id orci eget, consectetur posuere turpis. Aliquam vitae rhoncus tellus, vel commodo diam. Nunc eu egestas nulla, euismod accumsan orci. Integer nec turpis faucibus, dignissim nulla id, auctor lorem. Fusce efficitur eros vel diam convallis, ut fringilla enim dapibus. Vivamus et commodo risus, eu rutrum nisl. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis at scelerisque mi, vel vehicula tortor.</p>
// 	<p>Aliquam magna magna, finibus pretium tempor in, molestie sit amet libero. Cras lacinia ante ullamcorper cursus faucibus. Vivamus hendrerit interdum sem vitae rhoncus. Integer sit amet pretium lacus, non ultricies justo. Fusce eu tincidunt mauris. Proin luctus magna ipsum, nec aliquet sapien cursus at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Cras condimentum enim nec lacus posuere elementum eget bibendum lacus. Cras nec enim nec tortor facilisis cursus id ac quam. Etiam semper nibh eu est eleifend, in pulvinar felis auctor. Fusce condimentum consequat nulla. Suspendisse non ipsum mauris. Quisque non dictum odio. Mauris eget cursus odio.</p>
// 	<figure class="alignleft size-article_inline_half">
//		<img src="http://lorempixel.com/1280/720/business">
//		<div class="photo-credit">Photo Credit</div>
// 		<figcaption>
// 			<p>Lorem ipsum dolor sit amet this is a caption for a fullbleed image</p>
// 		</figcaption>
// 	</figure>
// 	<p>Aliquam magna magna, finibus pretium tempor in, molestie sit amet libero. Cras lacinia ante ullamcorper cursus faucibus. Vivamus hendrerit interdum sem vitae rhoncus. Integer sit amet pretium lacus, non ultricies justo. Fusce eu tincidunt mauris. Proin luctus magna ipsum, nec aliquet sapien cursus at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Cras condimentum enim nec lacus posuere elementum eget bibendum lacus. Cras nec enim nec tortor facilisis cursus id ac quam. Etiam semper nibh eu est eleifend, in pulvinar felis auctor. Fusce condimentum consequat nulla. Suspendisse non ipsum mauris. Quisque non dictum odio. Mauris eget cursus odio.</p>
// 	<p>Aliquam magna magna, finibus pretium tempor in, molestie sit amet libero. Cras lacinia ante ullamcorper cursus faucibus. Vivamus hendrerit interdum sem vitae rhoncus. Integer sit amet pretium lacus, non ultricies justo. Fusce eu tincidunt mauris. Proin luctus magna ipsum, nec aliquet sapien cursus at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Cras condimentum enim nec lacus posuere elementum eget bibendum lacus. Cras nec enim nec tortor facilisis cursus id ac quam. Etiam semper nibh eu est eleifend, in pulvinar felis auctor. Fusce condimentum consequat nulla. Suspendisse non ipsum mauris. Quisque non dictum odio. Mauris eget cursus odio.</p>
// 	<ul>
// 		<li>This is an inline list</li>
// 		<li>It happens to be an unordered list</p>
// 		<li>It's mighty fancy</li>
// 	</ul>
// 	<p>Aliquam magna magna, finibus pretium tempor in, molestie sit amet libero. Cras lacinia ante ullamcorper cursus faucibus. Vivamus hendrerit interdum sem vitae rhoncus. Integer sit amet pretium lacus, non ultricies justo. Fusce eu tincidunt mauris. Proin luctus magna ipsum, nec aliquet sapien cursus at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Cras condimentum enim nec lacus posuere elementum eget bibendum lacus. Cras nec enim nec tortor facilisis cursus id ac quam. Etiam semper nibh eu est eleifend, in pulvinar felis auctor. Fusce condimentum consequat nulla. Suspendisse non ipsum mauris. Quisque non dictum odio. Mauris eget cursus odio.</p>
// 	<p>Aliquam magna magna, finibus pretium tempor in, molestie sit amet libero. Cras lacinia ante ullamcorper cursus faucibus. Vivamus hendrerit interdum sem vitae rhoncus. Integer sit amet pretium lacus, non ultricies justo. Fusce eu tincidunt mauris. Proin luctus magna ipsum, nec aliquet sapien cursus at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Cras condimentum enim nec lacus posuere elementum eget bibendum lacus. Cras nec enim nec tortor facilisis cursus id ac quam. Etiam semper nibh eu est eleifend, in pulvinar felis auctor. Fusce condimentum consequat nulla. Suspendisse non ipsum mauris. Quisque non dictum odio. Mauris eget cursus odio.</p>
//	<div data-huron-id="article-pullquote" data-huron-type="template"></div>
// 	<figure class="size-article_fullbleed">
//		<img src="http://lorempixel.com/1280/720/business">
//		<div class="photo-credit">Photo Credit</div>
// 		<figcaption>
// 			<p>Lorem ipsum dolor sit amet this is a caption for a fullbleed image</p>
// 		</figcaption>
// 	</figure>
// 	<p>Aliquam magna magna, finibus pretium tempor in, molestie sit amet libero. Cras lacinia ante ullamcorper cursus faucibus. Vivamus hendrerit interdum sem vitae rhoncus. Integer sit amet pretium lacus, non ultricies justo. Fusce eu tincidunt mauris. Proin luctus magna ipsum, nec aliquet sapien cursus at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Cras condimentum enim nec lacus posuere elementum eget bibendum lacus. Cras nec enim nec tortor facilisis cursus id ac quam. Etiam semper nibh eu est eleifend, in pulvinar felis auctor. Fusce condimentum consequat nulla. Suspendisse non ipsum mauris. Quisque non dictum odio. Mauris eget cursus odio.</p>
// </div>
//
// Styleguide article.body-copy

.body-copy {
	@extend %body-copy-alt;

	a {
		border-bottom: 1px dotted $secondary;
		color: $secondary;

		&:hover {
			border-bottom: 1px solid $primary;
			color: $primary;
		}
	}

	figcaption {
		border: 0;
		font-family: $meta;
		padding: em-calc(14 0 10);
		width: 100%;
	}

	h1 {
		font-size: em-calc(33, false, 18.5);
	}

	h2 {
		font-size: em-calc(26, false, 18.5);
	}

	h3 {
		font-size: em-calc(24, false, 18.5);
	}
	h4 {
		font-size: em-calc(21, false, 18.5);
	}

	h5 {
		@include font(18, 26.5, $heading, 700, italic);
	}

	h6 {
		font-size: em-calc(16, false, 18.5);
		text-transform: uppercase;
	}

	.wp-caption {

		.photo-credit {
			color: $gray-400;
		}
	}

	.alignleft {
		@include ai-offset(-4, margin, xl);
		@include ai-offset(-1.75, margin, l);
		@include ai-offset(-1.25, margin, m);
	}

	.alignright {

		@include ai-breakpoint(xl) {
			margin-right: percentage(-2/8);
		}

		@include ai-breakpoint(l, xl) {
			margin-right: percentage(-1/7);
		}

		@include ai-breakpoint(m, l) {
			margin-right: percentage(-1/8);
		}
	}

	.size-article_fullbleed {

		@include ai-breakpoint(false, m) {
			margin-left: em-calc(-26);
			width: 100vw;
		}
	}
}
