// Denver Post: Article Tags
//
// Article tags
//
// markup:
// <ul class="tags">
//	<li>More:</li>
// 	<li><a href="#">Broncos</a></li>
// 	<li><a href="#">Peyton Manning</a></li>
// </ul>
//
// Styleguide article.tags

.tags {
	border-top: 5px solid $gray-min;
	padding: em-calc(20 0 0);

	li:first-child,
	a {
		text-transform: uppercase;
	}

	li {
		margin-right: em-calc(20);

		&:first-child {
			@include font(16, 16, $meta, 400);
		}
	}

	a {
		@include font(16, 16, $meta, 700);
		color: $primary;

		&:hover {
			color: $gray-min;
		}
	}
}