// Forms

form {
	@extend %clearfix;

	label {
		@include font(16, 24, $meta, 400);
		display: inline-block;
	}

	input {

		&[type="radio"],
		&[type="checkbox"] {
			left: 0;
			line-height: 1.5;
			margin: em-calc(0 10 0 0);
			top: px-to-em(3);
		}

		&[type="submit"] {
			@extend %rounded-button;
		}
	}
}

.radio-group,
.checkbox-group {
	position: relative;

	label {
		padding-left: em-calc(10);
	}
}

.form-group {
	clear: both;
	float: left;
	position: relative;
	width: 100%;
}