// Mercury News:  Jetpack Sharing Email Styles
//
// Theme for the built-in Jetpack share-post-by-email form

#sharing_email {
	background-color: $gray-max;
    border-left: 1px solid #F0F0F0;
    border-top: 1px solid #F0F0F0;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.13);
	width: px-to-em(400);

	h3 {
		margin-bottom: spacing();
	}

	label,
	input[type="text"],
	input[type="email"] {
		display: block;
		width: 100%;
	}

	input[type="text"],
	input[type="email"] {
		border: 1px solid $divider-alt;
		margin-bottom: spacing(2);
	}

	label::after {
		content: ":";
	}

	input[type="submit"] {

		&:hover {
			background-color: $primary-light;
		}
	}

	input[type="submit"],
	.sharing_cancel {
		@include font(14, 14, $meta, 700);
	}

	.sharing_cancel {
		@extend %rounded-button;
		background-color: $gray-100;
		float: right;
		padding: em-calc(10 15);

		&:hover {
			background-color: $secondary;
		}
	}
}