<div class="{{ modifier }}">
	<figure>
		<img src="http://lorempixel.com/940/528/cats" alt="article featured image">
		<figcaption>
			<div class="photo-credit">Photo Credit</div>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer diam tortor, aliquet ut porta non, aliquet sed nunc. Maecenas eu semper augue. Aliquam erat volutpat. Cras varius ex sed metus finibus convallis. Maecenas bibendum velit a nisl eleifend porttitor
		</figcaption>
	</figure>
</div>