<div class="full-view">
	<div class="article-slideshow">
		<ul>
			<li>
				<img src="http://lorempixel.com/940/528/cats" alt="article featured image">
				<p class="slide-credit">Lorem ipsum dolor sit amet<p>
				<p class="slide-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, magni, fugit? Voluptas fugit iste commodi! Ea assumenda necessitatibus magni facere animi delectus, itaque omnis commodi qui quas provident illum magnam!</p>
			</li>
			<li>
				<img src="http://lorempixel.com/940/528/cats" alt="article featured image">
				<p class="slide-credit">dolor sit amet<p>
				<p class="slide-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis voluptatum repellendus aspernatur error accusamus amet dolor quos vitae velit. Incidunt illum dolor doloremque culpa quisquam accusantium commodi ea, laudantium. Ab!</p>
			</li>
			<li>
				<img src="http://lorempixel.com/940/528/cats" alt="article featured image">
				<p class="slide-credit">Lorem ipsum<p>
				<p class="slide-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus et modi harum, doloribus fugit vero ducimus? Nihil officia, repellat rem labore ducimus minima facere id aliquam mollitia voluptas. Expedita, neque.</p>
			</li>
			<li>
				<img src="http://lorempixel.com/940/528/cats" alt="article featured image">
				<p class="slide-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ipsam omnis porro numquam vero placeat autem, maiores enim, hic aperiam facilis provident rem rerum deleniti culpa fugit impedit delectus. Similique?</p>
			</li>
		</ul>
		<div class="caption">
			<div class="slideshow-credit"></div>
			<div class="slide-count"><span class="current">1</span> of <span class="total">5</span></div>
			<p class="slideshow-caption"></p>
			<a href="#" class="icon-enlarge"><span>Expand</span></a>
		</div>
	</div>
</div>