// Silicon Valley: Push Menu
//
// styles for push-out menu
//
// markup:
// <nav class="pushnav">
// 	<ul>
// 		<li class="menu-item-has-children menu-large">
//			<a href="#">News</a>
//			<ul>
//				<li><a href="#">Example Link 1</a></li>
//				<li><a href="#">Example Link 2</a></li>
//				<li><a href="#">Example Link 3</a></li>
//			</ul>
//		</li>
// 		<li class="menu-item-has-children">
//			<a href="#">Columnists</a>
//			<ul>
//				<li><a href="#">Lorem Ipsum</a></li>
//				<li><a href="#">Dolor Sit Amet</a></li>
//			</ul>
//		</li>
// 		<li class="menu-item-has-children sports">
//			<a href="#">Companies</a>
//			<ul>
//				<li><a href="#">Lorem Ipsum</a></li>
//				<li><a href="#">Dolor Sit Amet</a></li>
//			</ul>
//		</li>
//		<li class="menu-item-has-children menu-large">
//			<a href="#">Special Reports</a>
//			<ul>
//				<li><a href="#">Lorem Ipsum</a></li>
//				<li><a href="#">Dolor Sit Amet</a></li>
//			</ul>
//		</li>
//		<li class="menu-large">
//			<a href="#">SiliconBeat</a>
//		</li>
//		<li class="menu-large">
//			<a href="#">MercuryNews.com</a>
//		</li>
// 	</ul>
// </nav>
//
// Styleguide header.push-menu

.pushnav {
	left: auto;
	right: 0;
	transform: translate(100%, 0);

	li > a {
		@include font(18, 18, $meta, 700);
	}

	.menu-item-has-children:not(.nav-alt-links) {
		height: em-calc(52);

		> a {
			height: em-calc(52, false, 18);

			&::hover {
				background-color: $gray-200;
			}
		}

		> ul {
			background-color: $gray-200;

			a {
				@include font(16, 16, $meta, 600);
			}
		}

		&.submenu-open {

			> a {
				background-color: $gray-200;
			}
		}
	}
}
