// Silicon Valley: Trending Nav
//
// Styles for trending and special topics bar at bottom of header
//
// markup:
// <div class="trending-bar trending">
// 	<div class="trending-bar-wrapper">
// 		<p class="label">Trending</p>
// 		<nav>
// 			<ul>
// 				<li><a href="#">Memorial Day Weather</a></li>
// 				<li><a href="#">Beware the snakes</a></li>
// 				<li><a href="#">Clinton in Oakland</a></li>
// 				<li><a href="#">Newsom vs. Trans gun fans</a></li>
// 				<li><a href="#">Missing teen</a></li>
// 			</ul>
// 		</nav>
// 	</div>
// </div>
//
// Styleguide header.trending

.trending-bar {
	background-color: $gray-500;
	border-top: 0;

	nav {
		float: none;
		padding: em-calc(8 0);
	}

	ul {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		height: px-to-em(18);
		justify-content: flex-start;
		overflow: hidden;
	}

	li {
		padding-right: em-calc(50);
		position: relative;

		@include ai-breakpoint(false, $header-primary-bp) {
			padding-right: em-calc(20);
		}
	}

	a {
		color: $gray-100;
		font-size: em-calc(14);

		@include ai-breakpoint(false, $header-primary-bp) {
			border-bottom: none;
			padding: 0;
		}

		&:hover {
			color: $primary;
		}
	}

	a,
	.trending-bar-wrapper p {
		font-size: em-calc(15);
	}

	.trending-bar-wrapper {
		@extend %container;
		align-items: center;
		display: flex;
		height: em-calc(50);
		padding: em-calc(0 10);

		> p {
			display: block;
			font-size: em-calc(14);
			padding-right: em-calc(50);
			position: static;
			text-transform: uppercase;
			min-width: 130px;

			@include ai-breakpoint(false, $header-primary-bp) {
				display: none;
			}
		}
	}

	.headroom--not-top & {
		display: none;
	}
}
