<div id="page">
	<div data-huron-id="header-push-menu" data-huron-type="template"></div>

	<div id="scroll">
		<div data-huron-id="header-full" data-huron-type="template"></div>
		<div class="header-placeholder"></div>

		<div id="content" class="article">
			<div class="dfp-ad dfp-top_leaderboard">
				<div data-huron-id="ad-samples-banner" data-huron-type="template"></div>
			</div>
			<article class="full-view">
				<header>
					<div class="header-title-area">
						<div data-huron-id="article-breadcrumbs" data-huron-type="template"></div>
						<div class="headline-area">
							<a class="comment-count" href="#comments">
								<span class="icon-comment"></span>
								<span class="count">12</span>
							</a>
							<div class="headlines">
								<h1>
									NHL Playoffs: Sharks trying to relax before Game 6
								</h1>
								<h2>
									The Sharks were trying to keep things as simple as possible in the hours before the biggest game in franchise history.
								</h2>
							</div>
						</div>
						<div data-huron-id="sharing-article" data-huron-type="template"></div>
					</div>
				</header>

				<div class="article-content">
					<div class="article-content-wrapper">
						<div class="header-features">
							<div data-huron-id="article-slideshow" data-huron-type="template"></div>
							<div data-huron-id="article-meta" data-huron-type="template"></div>
							<div data-huron-id="article-highlights" data-huron-type="template"></div>
						</div>

						<div class="article-body">
							<div data-huron-id="article-body-copy" data-huron-type="template"></div>
						</div>
					</div>

					<aside class="article-sidebar swappable" data-swap-location=".article-footer" data-swap-method="after">
						<div data-huron-id="ad-samples-portrait" data-huron-type="template"></div>
						<div class="sign-up-follow">
							<div data-huron-id="modules-newsletter" data-huron-type="template"></div>
							<div data-huron-id="sharing-list-with-label" data-huron-type="template"></div>
						</div>
						<div data-huron-id="modules-popular" data-huron-type="template"></div>
						<div data-huron-id="ad-samples-ndn" data-huron-type="template"></div>
						<div id="stick-trigger"></div>
						<div data-huron-id="ad-samples-box" data-huron-type="template"></div>
					</aside>
				</div>

				<footer class="article-footer">
					<div class="footer-meta">
						<div class="footer-meta-content">
							<div data-huron-id="article-tags" data-huron-type="template"></div>
							<div data-huron-id="article-about-author" data-huron-type="template"></div>
						</div>
						<div data-huron-id="ad-samples-box" data-huron-type="template"></div>
					</div>
					<div id="comments" class="placeholder">
						Outbrain goes here, markup will be styles during theme development
					</div>
					<div class="placeholder">
						COMMENTS GO HERE, markup provided by Disqus
					</div>
					<div data-huron-id="article-more-news" data-huron-type="template"></div>
				</footer>
			</article>

			<div class="dfp-ad dfp-bottom_leaderboard">
				<div data-huron-id="ad-samples-banner" data-huron-type="template"></div>
			</div>
		</div>
		<div data-huron-id="footer-full" data-huron-type="template"></div>
	</div>
</div>