<div class="sharing article-share">
	<div class="sharedaddy">
		<div class="sd-social-icon">
			<div class="sd-content sharing-inner">
				<ul>
					<li class="share-facebook"><a href="#" class="share-facebook sd-button"><span></span></a></li>
					<li class="share-twitter"><a href="#" class="share-twitter sd-button"><span></span></a></li>
					<li class="share-email"><a href="#" class="share-email sd-button"><span></span></a></li>
					<li class="share-sms"><a href="#" class="share-sms sd-button"><span></span></a></li>
					<li class="share-print"><a href="#" class="share-print sd-button"><span></span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<span class="share-alt"><a href="#" class="icon-share-alt"><span></span></a></span>
</div>
