{{#if prompt}}
	<div class="share-with-prompt">
		<span class="prompt">Follow Us</span>
{{/if}}
<ul class="sharing">
	<li><a href="#" class="icon-facebook"><span class="label">Facebook</span></a></li>
	<li><a href="#" class="icon-twitter"><span class="label">Twitter</span></a></li>
	<li><a href="#" class="icon-instagram"><span class="label">Instagram</span></a></li>
	<li><a href="#" class="icon-feed"><span class="label">RSS</span></a></li>
</ul>
{{#if prompt}}
	</div>
{{/if}}
