.primary-related {
	margin-top: spacing();
	list-style: none;

	li {
		margin-bottom: em-calc(10);
		padding-left: em-calc(20);
		position: relative;

		&::before {
			content: "•";
			color: $gray-400;
			height: em-calc(20, false, 20);
			font-size: em-calc(20);
			margin-left: em-calc(-20, false, 20);
			position: absolute;
		}

		a {
			@include font(17, 20, $heading, 700);
			letter-spacing: -0.01em;

			&:hover {
				color: $primary;
			}
		}

		a,
		time {
			display: inline;
		}
	}

	time {
		@include font(12, 18, $meta);
		color: $gray-400;
		margin-left: em-calc(10, false, 12);
	}

	.section-highlight & {
		display: none;
	}
}