// Mercury News:  Article Single
//
// Styles for article layout

.full-view {
	$header-height: calc(100% - #{em-calc(36)});

	> header {
		@extend %offset-background;
		border-bottom: 3px solid transparent;
		float: none;
		margin: em-calc(32 0 -36);
		padding: 0;
		position: relative;
		margin-bottom: em-calc(-36);
		margin-top: 0;

		&::before {
			height: $header-height;
		}

		.breadcrumbs {
			padding-top: em-calc(16);
		}

		.header-title-area {
			@include vertical-rhythm(0.5);
			position: relative;
			z-index: 1;

			.headlines {
				max-width: calc(100% - #{em-calc(70)});

				@include ai-breakpoint(s) {
					max-width: calc(100% - #{em-calc(120)});
				}
			}

			h1 {
				@include font(27, 33, $heading, 700);
				letter-spacing: -0.02em;

				@include ai-breakpoint(s) {
					font-size: em-calc(32, true);
					line-height: 1.15;
				}

				@include ai-breakpoint(l) {
					font-size: em-calc(36, true);
				}
			}

			h2 {
				@include font(24, 24, $meta, 500);
				color: $gray-100;
				letter-spacing: -0.017em;

				@include ai-breakpoint(false, s) {
					@include font(20, 25, $meta, 500);
					letter-spacing: -0.01em;
				}
			}
		}

		.headline-area {
			display: flex;
			justify-content: flex-start;
			margin: 0;
			width: 100%;

			@include ai-breakpoint(false, s) {
				display: block;
			}
		}
	}

	.disqus-comment-count {

		@include ai-breakpoint(false, s) {
			float: right;
		}

		@include ai-breakpoint(s) {
			order: 1;
		}

		> a {
			align-items: center;
			border-left: 1px solid $brown-400;
			display: flex;
			height: $header-height;
			justify-content: center;
			margin-left: em-calc(16);
			padding: em-calc(0 16);
			position: absolute;
			right: 0;
			top: 0;
			width: em-calc(70);

			@include ai-breakpoint(s) {
				border-left: 1px solid $gray-max;
				padding: 0;
				width: em-calc(120);
			}

			&::before {
				@extend %icon;
				color: $primary;
				content: "\f075";
				font-size: em-calc(48);

				@include ai-breakpoint(s) {
					font-size: em-calc(60, true);
				}
			}

			> span {
				@extend %center;
				@include font(15, 15, $meta, 700);
				color: $gray-max;

				@include ai-breakpoint(s) {
					font-size: em-calc(18, true);
				}

			}
		}
	}

	.article-content {
		display: flex;
		justify-content: space-between;
	}

	.article-content-wrapper {
		@include ai-span(12, xl);
		@include ai-span(9, l);
		@include ai-span(10, m);
		@include ai-span(8, s);
		@include ai-span(4, xs);
	}

	.header-features {
		@extend %offset-background;
		padding: em-calc(48 0 32);
		width: 100%;

		&::before {
			height: calc(100% - #{em-calc(16)});
		}
	}

	.article-body {
		@include ai-span(12, xl);
		@include ai-offset(2, margin, xl);
		@include ai-span(11, l);
		@include ai-offset(1, margin, l);
		@include ai-span(8, m);
		@include ai-offset(1, margin, m);
		@include ai-span(8, s);
		@include ai-span(4, xs);
	}

	.article-sidebar {
		@include vertical-rhythm(2.5);

		@include ai-breakpoint(l) {
			margin-top: em-calc(48);
		}

		.widget-popular-stories,
		.sign-up-follow,
		.dfp-ad {
			@include ai-span(5, m);
			@include ai-span(8, s);
		}

		.widget-popular-stories,
		.sign-up-follow {

			@include ai-breakpoint(s, l) {
				float: left;
			}
		}

		.dfp-ad {

			@include ai-breakpoint(s, l) {
				float: right;
			}
		}

		.sharing {
			display: flex;
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;
			margin-bottom: em-calc(32);
		}

		.swap-ad {

			@include ai-breakpoint(false, m) {
				margin-top: spacing(2);
				width: 100%;
			}
		}

		> *:empty {
			margin-bottom: 0;
		}
	}

	.sign-up-follow {
		background-color: $brown-300;
		padding: em-calc(10 16);
	}

	.dfp-Sponsorship_2 {
		margin-top: spacing(2);

		@include ai-breakpoint(false, xl) {
			margin-right: em-calc(-10);
		}

		@include ai-breakpoint(xl) {
			margin-right: calc((100vw - #{em-calc(1260, true)}) / -2);
		}
	}

	.article-footer {
		@extend %offset-background;
		margin-top: spacing(2);
		padding: em-calc(20 0);

		&::before {
			background-color: transparent;
			border-top: 3px solid $primary;
			z-index: -1;
		}

		.footer-meta {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.footer-meta-content {
			width: 100%;
		}
	}
}