{{#if wrapper}}
	<div class="{{ wrapper }}">
{{/if}}
<header class="site-header default {{ classes }} {{ modifier }}">
	<form class="search-form slide-search">
		<input type="text" placeholder="Search">
		<input type="submit" value="submit">
	</form>

	<div class="nav-wrapper">
		<div data-huron-id="header-nav-primary" data-huron-type="template"></div>
		<div data-huron-id="header-trending" data-huron-type="template"></div>
		<h4>Congress OKs Pechanga water rights settlement</h4>
		<div data-huron-id="sharing-article" data-huron-type="template"></div>
	</div>
</header>
{{#if wrapper}}
	</div>
{{/if}}
