<div class="status-bar">
	<div class="status-bar-wrapper">
		<ul>
			<li><a href="#">Newsletters</a></li>
			<li><a href="#">E-Edition</a></li>
			<li><a href="#">Subscribe</a></li>
		</ul>
	</div>
</div>
