// Styleguide-only styles
.sg {

	.sg-header {

		.sg-title {

			/* stylelint-disable */
			h1 {
				background-image: url('../../images/twincities-logo.png');
				background-size: 165px 55px;
				height: 55px;
				width: 165px;
			}
			/* stylelint-enable */
		}
	}
}

@import '../common-base/loader';
@import '../themes/twincities-theme/core/loader';
@import '../themes/twincities-theme/layout/loader';
@import '../themes/twincities-theme/utilities/loader';
@import '../sg/loader';
