// Author Stories
//
// Author's featured stories
//
// markup:
// <div class="author-featured-stories">
// 	<h2>Author Features</h2>
//	<div class="featured-stories-content">
// 		<div data-huron-id="article-archive-author-landing" data-huron-modifier="styleguide" data-huron-type="template"></div>
// 		<div data-huron-id="article-archive-author-landing" data-huron-modifier="styleguide" data-huron-type="template"></div>
// 		<div data-huron-id="article-archive-author-landing" data-huron-modifier="styleguide" data-huron-type="template"></div>
//	</div>
// </div>
//
// Styleguide author.stories

.author-featured-stories {

	> h2 {
		margin-bottom: spacing();
	}

	.author-view {
		flex-direction: column;
	}

	.featured-stories-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
