<div class="author-events">
	<h2 class="widget-title">My Events</h2>
	<div class="event-content slideshow-landing">
		<a href="#" class="icon-arrow-left"></a>
		<ul class="event-list">
			<li class="event">
				<time>Sept. 5 2015</time>
				<h6><a href="#">Smart Reader Seminar</a></h6>
				<p class="position">Featured Speaker</p>
			</li>
			<li class="event">
				<time>Oct. 24 2015</time>
				<h6><a href="#">Sports News Seminar</a></h6>
			</li>
			<li class="event">
				<time>Nov. 15 2015</time>
				<h6><a href="#">ONA15 Conference</a></h6>
				<p class="position">Featured Speaker</p>
			</li>
			<li class="event">
				<time>Nov. 20-21 2015</time>
				<h6><a href="#">SABEW New York Fall Conference</a></h6>
			</li>
			<li class="event">
				<time>Dec. 2-5 2015</time>
				<h6><a href="#">Northeast/New York City Regional Connection</a></h6>
			</li>
		</ul>
		<a href="#" class="icon-arrow-right"></a>
	</div>
</div>
