// Mercury News: Author Bio
//
// Author biography/description
//
// markup:
// <div class="author-bio body-copy">
// 	<figure>
// 		<span class="icon-play-arrow"></span>
// 		<img src="http://lorempixel.com/300/170/cats" alt="author-video">
// 	</figure>
//	<p class="author-short-bio">Donec pellentesque augue tortor. Praesent convallis finibus orci. Proin nec congue odio. Duis massa erat, tristique id orci eget, consectetur posuere turpis. Aliquam vitae rhoncus tellus, vel commodo diam. Nunc eu egestas nulla, euismod accumsan orci.</p>
// 	<p class="author-full-bio" style="display: none;">Donec pellentesque augue tortor. Praesent convallis finibus orci. Proin nec congue odio. Duis massa erat, tristique id orci eget, consectetur posuere turpis. Aliquam vitae rhoncus tellus, vel commodo diam. Nunc eu egestas nulla, euismod accumsan orci. Integer nec turpis faucibus, dignissim nulla id, auctor lorem. Fusce efficitur eros vel diam convallis, ut fringilla enim dapibus. Vivamus et commodo risus, eu rutrum nisl. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis at scelerisque mi, vel vehicula tortor. Aliquam magna magna, finibus pretium tempor in, molestie sit amet libero. Cras lacinia ante ullamcorper cursus faucibus. Vivamus hendrerit interdum sem vitae rhoncus. Integer sit amet pretium lacus, non ultricies justo. Fusce eu tincidunt mauris. Proin luctus magna ipsum, nec aliquet sapien cursus at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Cras condimentum enim nec lacus posuere elementum eget bibendum lacus. Cras nec enim nec tortor facilisis cursus id ac quam. Etiam semper nibh eu est eleifend, in pulvinar felis auctor. Fusce condimentum consequat nulla. Suspendisse non ipsum mauris. Quisque non dictum odio. Mauris eget cursus odio.</p>
// </div>
// <div class="read-full"><a href="#">+ Read Full Bio</a></div>
//
// Styleguide author.bio

.author-bio {

	@include ai-breakpoint(false, s) {
		padding: em-calc(16);
	}

	@include ai-breakpoint(s) {
		padding: em-calc(10 20 0 110, false, 17.5);
	}

	figure {
		@include slideshow-video-top();
	}
}

.read-full {

	&:hover {

		a {
			color: $gray-max;
		}
	}
}